$black: #202426;
$main: #609966;
$seconadary: #9dc08b;
$nav: rgba(4, 5, 5, 0.5);
$grey: #8c8c88;
$white: #f2f2f2;

$fontFamily: 'Roboto', sans-serif;

/* Global */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
	font-family: $fontFamily;
	font-weight: 300;
	font-size: 10px;
	color: $white;
	scroll-behavior: smooth;
}


.scroll-button {
	font-size: 6rem;
	margin-top: 20px;
	background: none;
	border: none;
	color: rgba(255, 255, 255, 0.3);
}
.button{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;

} 
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 0 10px;
	height: inherit;
	width: 100%;
}
body {
	background-image: url('./images/background1.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
h1,
h2,
h3,
h4,
h5 {
	margin-top: 0;
	font-weight: 300;
	letter-spacing: 2px;
	margin-bottom: 40px;
}
 h2 {
	font-size: 3rem;
}

a {
	text-decoration: none;
	color: $white;
}

p {
	font-size: 1.8rem;
}

/* Nav */

.logo {
	height: 100%;
}

nav {
	background-color: $nav;
	display: flex;
	position: fixed;
	justify-content: space-around;
	align-items: center;
	height: 10vh;
	width: 100%;
	padding: 1em;
	z-index: 100;
}

.navList {
	list-style-type: none;
	display: flex;
	width: 60%;
	justify-content: space-around;
}

.navList a {
	text-decoration: none;
	font-weight: 700;
	font-size: 2rem;
	position: relative;
	padding: 0.2em;
	color: $white;
}

.navList a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	background-color: $white;
	height: 0.2em;
	border-radius: 30%;
	transition: 0.3s ease-in-out;
}

.navList a:hover::after {
	width: 100%;
}

.navList a.active::after {
	width: 100%;
}

.burger {
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	display: none;
}

.line {
	width: 3em;
	height: 0.3em;
	background-color: $white;
	margin: 0.7em;
	border-radius: 30%;
	transition: 0.3s ease-in-out;
}

@media only screen and (max-width: 900px) {
	.burger {
		display: block;
		transition: 0.3s ease-in-out;
	}
	.burger.navListActive .line:first-child {
		transform: translateY(-300px);
	}

	.burger.navListActive .line:nth-child(2) {
		transform: rotate(45deg) translateY(9px);
	}

	.burger.navListActive .line:nth-child(3) {
		transform: rotate(-45deg) translateY(-9px);
	}

	nav {
		justify-content: space-between;
		padding: 0 25px;
	}

	.navList {
		position: absolute;
		right: 0;
		top: 10vh;
		background-color: $nav;
		height: 90vh;
		flex-direction: column;
		text-align: center;
		transform: translate(100%);
	}

	.navListActive {
		transform: translate(0%);
	}

	.navList a {
		font-size: 2.5rem;
		letter-spacing: 1px;
	}
}

@media only screen and (max-width: 700px) {
	.navList {
		width: 100%;
	}
}

/* Home */

#home {
	height: 100vh;
	width: 100%;
	background-image: url('./images/tło.jpg');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	background-position-y: calc(100% - 20%);
	z-index: 10;
}

.home-div {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	z-index: 50;
	width: 100%;
	height: 100%;
}

.home-div h1 {
	font-size: 10rem;
	font-weight: 300;
	letter-spacing: 2px;
	flex-wrap: wrap;
}

@media only screen and (max-width: 800px) {
	.home-div h1 {
		font-size: 5rem;
	}
}
/* About */

#about {
	background-image: url('./images/background2.jpg');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	background-position-y: calc(100% - 50%);
	z-index: 10;
	height: 100vh;
	width: 100%;
}

.about {
	background-color: $nav;
	z-index: 10;
	height: inherit;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.about h1 {
	font-size: 5rem;
	padding: 40px 0;
	flex-wrap: wrap;
}

.content {
	width: 50%;

}



/* Projects */

#projects {
	height: 100vh;
	width: 100%;
	background-color: $nav;
	z-index: 10;
}

/* Options */

#opinions {
	height: 100vh;
	width: 100%;
	background-color: $nav;
	z-index: 10;
}

/* Contact/Footer */

#contact {
	background-color: $nav;
	z-index: 10;
	width: 100%;
	display: flex;
}

.contact {
	text-align: center;
}
.contact h1 {
	font-size: 5rem;
}

.contact h4 {
	padding-top: 40px;
	
}

.contact img { 
	height: 120px;
	width: 120px;
}
